.button {
    margin-top: 33px;
    margin-left: 105px;
    width: 328px;
    height: 51px;
    background-color: #6d5cad;
    border-radius: 25.0px;

    font-family: inherit;
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
}
