<!DOCTYPE html>
<html lang="ru">
<head>
    {{> head }}
</head>
<body>
<!--Header-->
{{> sprite }}
<div class="page">
    <div class="container">
        {{> header }}
        {{> nav }}
        {{> modal }}
    </div>
    <div class="container">
        <!--Slider-->
        {{> portfolio }}
    </div>
    <div class="container">
        <!--Content-->
        {{> content }}
    </div>
    <div class="container">
        <!--Footer-->
        {{> footer }}
    </div>
</div>
<script src="assets/js/app.min.js"></script>

</body>
</html>
