<div class="content">
    <div class="content__title">
        Возьми домой котика
    </div>
    <div class="content__img">
        <img src="/assets/img/wave.png" alt="">
    </div>
</div>
<div class="gallery">
    <div class="gallery__item gallery__item--1">
        <img class="gallery__img" src="/assets/img/gallery/luci_1.jpg"  alt="">
        <span class="item__title">Люси, 3 года</span>
    </div>
    <div class="gallery__item gallery__item--2">
        <img class="gallery__img" src="/assets/img/gallery/luci_3.jpg"  alt="">
        <span class="item__title">Люси, 3 года</span>
    </div>
    <div class="gallery__item gallery__item--3">
        <img src="/assets/img/gallery/marta.jpg" class="gallery__img" alt="">
        <span class="item__title">Марта, 3 года</span>
    </div>
    <div class="gallery__item gallery__item--4">
        <img class="gallery__img" src="/assets/img/gallery/luci_4.jpg"  alt="">
        <span class="item__title">Люси, 3 года</span>
    </div>
    <div class="gallery__item gallery__item--5">
        <img class="gallery__img"  src="/assets/img/gallery/luci_5.jpg"  alt="">
        <span class="item__title">Люси, 3 года</span>
    </div>
    <div class="gallery__item gallery__item--6">
        <img class="gallery__img" src="/assets/img/gallery/luci_2.jpg"  alt="">
        <span class="item__title">Люси, 3 года</span>
    </div>
    <div class="gallery__item gallery__item--7">
        <img class="gallery__img" src="/assets/img/gallery/luci_6.jpg"  alt="">
        <span class="item__title">Люси, 3 года</span>
    </div>
</div>
