<header class="header">
    <div class="header__inner">
    <div class="logo">
        <img src="/assets/img/logo.png" alt="#">
    </div>
    <div class="logo__text">
       Котик на час
    </div>
    <div class="lapa">
        <img src="/assets/img/lapa.png" alt="">
    </div>
    <div class="lapa_address">
        Пушкинская, 28
    </div>
    <div class="lapa_1">
        <img src="/assets/img/lapa.png" alt="">
    </div>
    <div class="lapa__tel">
        + 7 928 567 64 54
    </div>
    </div><!--/header__inner-->
</header>
