<!-- Modal -->
<div class="modal fade" id="call-back" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal__header">
        <h5 class="modal__title" id="exampleModalLabel">Заказ обратного звонка</h5>
        <button type="button" class="modal__close" data-dismiss="modal" aria-label="Close">
            <img src="/assets/img/close.png" alt="">
        </button>
      </div>
      <form class="form" action="/" method="post">
        <div class="form__group">
            <input class="input" type="text" placeholder="Имя">
        </div>
        <div class="form__group">
        <input class="input" type="tel" placeholder="Телефон">
        </div>
        <button type="submit" class="button">Отправить</button>

      </form>
    </div>
  </div>
</div>
