<div class="container">
    <div class="portfolio">
      <button class="portfolio__arrow portfolio__arrow--prev" type="button" id="portfolio-arrow-prev">
            <svg class="portfolio__arrow-icon">
            <use xlink:href="#arrow-right"></use>
            </svg>
      </button>
      <button class="portfolio__arrow portfolio__arrow--next" type="button" id="portfolio-arrow-next">
          <svg class="portfolio__arrow-icon">
             <use xlink:href="#arrow-right"></use>
          </svg>
      </button>
        <div id="portfolio">
            <div>
                <div class="portfolio__item">
                    <img class="portfolio__img" src="/assets/img/cat_slider.jpg" alt="">
                </div>
            </div>
            <div>
                <div class="portfolio__item">
                    <img class="portfolio__img" src="/assets/img/cat_slider_2.jpg" alt="">
                </div>
            </div>
            <div>
                <div class="portfolio__item">
                    <img class="portfolio__img" src="/assets/img/cat_slider_3.jpg" alt="">
                </div>
            </div>
        </div>
    </div><!--/portfolio-->
</div><!--/container-->
